# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Distribution folders
dist/
build/
*.egg-info/

# Runtime and virtual environment folders
pytorch_model.bin
venv/
env/
*.env

# Logs and dumps
*.log
*.dump

# PyArmor output
pyarmor_runtime_*/

# Ignore compiled models or exports
*.engine
*.onnx
*.pt

# Ignore user-generated config
user_config.json

# Ignore media or image output
imgs/
*.png
*.jpg
*.jpeg
*.gif

# VSCode config
.vscode/

# Ignore MD files
*.md
# OS-specific
.DS_Store
Thumbs.db
